Docs/build
Docs/Source
Trash
Pythia/
External_Integration/Pythia/pythia8312
External_Integration/Pythia/pythia8312.tar.gz
External_Integration/HepMC3/HepMC3-3.2.6
External_Integration/HepMC3/hepmc3-build
External_Integration/HepMC3/hepmc3-install
External_Integration/HepMC3/HepMC3-3.2.6.tar.gz
External_Integration/MadGraph/MG5_aMC_v2_9_20
output*
pythia_
db/Temp
.coverage
pythia_config.cmnd
__pycache__/
Logs/